#content {

    padding: 0px 15px 0px 15px;

    article {
        background-color: white;
        padding: 0px 15px 0px 15px;
        margin-bottom: .5rem;
        position: relative;

        h2 {
            background-color: white;
            color: map-get($colors, light-header-bg);
            text-transform: uppercase;
            padding:10px 0 0 0;
            line-height: 2rem;
            margin: 0
        }

        p {
            margin-top: 0;
            font-size: 1rem;
            // padding-bottom: 2rem;
        }

        button {
            text-transform: uppercase;
            border: none;
            font-size: 15px;
            padding: .5rem;
            position: absolute;
            right: 6px;
            bottom:8px

        }

    }

    .extra{
        padding-bottom: 3rem;
    }

    div {
        margin: 2rem 0;
    }
}