#content {
	padding: 0 0.625rem;

	article {
		background-color: white;
		padding: 0rem 0.9375rem 0rem 0.9375rem;
		margin-bottom: 0.5rem;
		position: relative;

		h2 {
			background-color: white;
			color: map-get($colors, light-header-bg);
			text-transform: uppercase;
			padding: 0.625rem 0 0 0;
			line-height: 2rem;
			margin: 0;
		}

		p {
			margin-top: 0;
			font-size: 1rem;
			padding-bottom: 1rem;
		}

		button {
			text-transform: uppercase;
			border: none;
			font-size: 1.125rem;
			font-weight: 400;
			padding: 0.5rem;
			position: absolute;
			right: 0.375rem;
			bottom: 0.5rem;
		}
	}

	.extra {
		padding-bottom: 4rem;
	}

	div {
		margin: 2rem 0;

		a {
			font-family: 'Roboto Condensed', sans-serif;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 400;
			color: map-get($colors, light-header-bg);
			font-size: 2rem;
		}

		span {
			padding-left: $generic-spacing;
		}
	}
}

@media (min-width: $breakpoint-mobile-large) {
}

@media (min-width: $breakpoint-tablet-small) {
}

@media (min-width: $breakpoint-tablet-large) {
	#content {
		margin-top: 0;

		article {
			padding: 1rem;
			h2 {
				font-size: 2.5rem;
			}

			p {
				margin-top: 0.5rem;
				padding-bottom: 1.5rem;
			}

			button {
				position: absolute;
				right: 1.125rem;
				bottom: 1.5625rem;
			}
		}
		.extra {
			padding-bottom: 2rem;
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	#content {
		max-width: 100%;
	}
}
