header {
    @include single-column-stack; // make header a single column stack for mobile

    padding: 0px 10px 0px 10px; // left & Right padding in header
    .top-area{
        width:100%;

        // while the top area of header contains the title and toggle button justify space between
        @include justify-space-between;
        .toggle {
            font-size: 1.7rem;
            color: #005991;
        }
    }

    //Hide search bar, nav and social media ul on mobile
    .search-bar, .nav-menu, .social-media {
        display:none;
    }

    // allow these to take 100% of the space in mobile layout
    .search-bar, .search-bar input, nav, .social-media {
        width:100%;
    }
    

    /* Search Bar Styles
    --------------------------------------------- */

    .search-bar {
        position:relative;
        input {
            background-color: #d8d8d8;
            height:35.6px;
            outline: none;
        }

        .search-icon {
            position:absolute;
            right:2%;
            bottom: 15%;
        }
    }

    /* Main Nav Styles
    --------------------------------------------- */
    .nav-menu {
        @include ul-reset;
        li {
            width:100%;
            text-align:center;
            background-color: #17649d;
            border: solid 1px #024d87;
            a {
                color: #e7f5f9;
                text-decoration: none;
                font-size:1.4rem;
                font-weight: 400;
            }

        }

        li:hover {
            background-color: #FFF;
            a{
                color: #1c6396
            }
        }
    }

    /* Social Media Ul Styles
    --------------------------------------------- */
    .social-media{
        font-size: 1.3rem;
        color: map-get($colors, light-header-bg);
        ul{
            @include ul-reset;
            text-align:center;
            background-color: #f8f8f8;
            li {
                padding: $generic-spacing / 2;
                display:inline-block;
                a{
                    color: #1c6396
                }
            }
        }
    }   

    /* Tablet Small Layout
    --------------------------------------------- */
    @media (min-width: $breakpoint-tablet-small){
        nav {
            background-color: #005991;
            padding: 0 10px 0 10px;
        }
        
        margin-bottom:10px;
        @include justify-space-between;
        flex-direction: row;
        
        .top-area {
            padding-left:20px;
            max-width: 50%;
        }

        // make elements visible and not 100% anymore
        .search-bar, .nav-menu, .social-media {
            display:block;
            width: auto;
        }

        .toggle {
            display:none;
        }

        /*Show the nav menu items in the center with a fixed distance between items*/
        .nav-menu {
            width:100%; // make nav take up a full row
            display:flex; /*Display Nav items side to side*/
            flex-direction:row;
        }

        .social-media {
            padding-right:10px;
            display:none;
        }
    }

    /* Tablet Large Layout
    --------------------------------------------- */
    @media (min-width: $breakpoint-tablet-large){
        .search-bar, .nav-menu, .social-media {
            display:block
        }

        /*Show the nav menu items in the center with a fixed distance between items*/
        .nav-menu {
            width:100%;
            /*Display Nav items side to side*/
            display:flex;
            flex-direction:row;
        }

        .top-area {
            order: -2;
        }

        .search-bar {
            order: -1;
        }

        .social-media {
            margin-bottom:5px;
            display:block;
            order: -1;
            a:hover {
                color: #9ea0a2;
            }
        }
    }

    @media(min-width: $breakpoint-desktop) {
        .search-bar {
            background-color: #005991;
            order: 1;
            margin-bottom: 0px;
            width:38%;
        }

        nav {
            padding:0px;
            width:62%;
            margin-top: 0px;
        }
    }
}