//mixin for spacing between items, the flex justification can vary if need be
@mixin justify-space-between (){
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

// a mixin for making containers or layouts a single column stack
@mixin single-column-stack {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

// Mixin for ul styles
@mixin ul-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}