// body

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.5;
	color: black;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;

	h2,
	button,
	footer {
		font-weight: 400;
		color: white;
		background-color: #1a71a9;
	}
}
