// spacing
$left-right-spacing: 0 1rem 0 1rem;
$margin-spacing: 0 auto;
$generic-spacing: 1rem;

// color palette
$border-color: solid 1px blue;
$colors: (
	dark-header-bg: #005991,
	light-header-bg: #1a71a9,
	section-header-text: #ffffff,
	body-font-color: black,
	body-bg-color: #f1f6f9,
);

// borders
$thin-border: 0.0625rem solid rgb(15, 72, 177);

$max-width-wrapper: 1050px;

// querry
$breakpoint-mobile-large: 320px;
$breakpoint-tablet-small: 500px;
$breakpoint-tablet-large: 700px;
$breakpoint-desktop: 800px;
