// spacing
$left-right-spacing: 0 0.625rem 0 0.625rem; // 0 10px 0 10px
$margin-spacing: 0 auto;
$generic-spacing: 0.625rem; //10px 

// color palette
$border-color: solid 1px blue;

$colors: (
	dark-header-bg: #005991,
	light-header-bg: #1a71a9,
	section-header-text: #ffffff,
	body-font-color: black,
	body-bg-color: #f1f6f9,
	//extra header colors
	mobile-item-border: #024d87,
	mobile-item-bg:#17649d,
	nav-icons: #1c6396,
	nav-font-color: #e7f5f9,
	nav-effect-hover: #9ea0a2,
	input-bg: #d8d8d8
);

// borders
$thin-border: 0.0625rem solid rgb(15, 72, 177);

// querry

// media querry breakpoints
$breakpoint-mobile-large: 320px;
$breakpoint-tablet-small: 500px;
$breakpoint-tablet-large: 700px;
$breakpoint-desktop: 800px; //proper breakpoint is 770 based on what I saw in responsive layout

$max-width-wrapper: 1050px; // wrapper max width
