#wrapper {
	max-width: $max-width-wrapper;
	margin: $margin-spacing;
}


@media (min-width: $breakpoint-desktop){
	.body-wrapper{
		display: flex;
		flex-direction: column;
	}
	.wrapper-added{
		display: flex;
	}
	#side-bar{
		order: 100;
	}
}
